@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('/font/Helvetica.woff') format('woff');
}
    
@font-face {
        font-family: 'Helvetica Compressed';
        font-style: normal;
        font-weight: normal;
        src: local('Helvetica Compressed'), url('/font/helvetica-compressed-5871d14b6903a.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #ea1a3a;
    --secondary-color: #ffc533;
    --black: #1d1d1f;
    --white:#f2f2f2;
    --font: "Helvetica";
    --headline: "Helvetica Compressed";
}

body {
    background-color: var(--white);
    font-family: var(--font);
}

h3 {
    font-family: var(--headline);
    font-size: 2.8rem;
    text-transform: uppercase;
}

header {
    display: flex;
    align-items: center;
    flex-direction: reverse;
    gap: 25px;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    color: var(--white);
    font-family: var(--headline);
    position: fixed;
    z-index: 1000;
}

header a {
    width: 20%;
    display: flex;
    justify-content: center;
}

body img {
    width: 100%;
}


/* NAVBAR */


header .navbar ul {
    list-style-type: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0 0 20px 20px;
    display: block;
    color: var(--black);
    width: 100%;
}

header .navbar ul li a:visited {
   color: inherit;
   text-decoration: none;
}

header .navbar ul li a:hover {
    color: var(--primary-color);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--primary-color);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul ,
header .nvabar ul li:hover > ul {
    display: block;
}

.navbar li:hover ul ul {
    display: none;
}
  
.navbar li:hover ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

header .navbar ul li ul li a {
    font-weight: 200;
    font-size: 1.3rem;
    padding-left: 40px;
}

header label {
        display: block;
        position: absolute;
        z-index: 1000;
        right: 30px;
        top: 30px;
}

header .navbar {
        position: absolute;
        top: 0;
        right: 0;
        padding: 120px 0 240px 0;
        width: 300px;
        background: var(--secondary-color);
        display: none;
        color: var(--black);
        font-family: var(--headline);
        height: auto;
        border-radius: 0 0 0 1000px;
        overflow: hidden;
}

header .navbar ul li {
        width:100%;
}

header .navbar ul li ul {
        position: relative;
        width: 100%;
        color: black;
}

header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
}

#menu-bar:checked ~ .navbar {
        display: block;
        transition: 0.2s;
}

#menu-bar:not(:checked) ~ .navbar {
        display: block;
        top: -350px;
        transition: 0.6s;     
}

.menubillede {
        width: 60px;
        background: var(--primary-color);
}


/* NAVBAR SLUT */



/* LANDING PAGE */

.logo {
    width: 50%;
    height: auto;
    display: flex;
    padding-top: 8%;
}

.logobox a {
    display: flex;
    justify-content: center;
}

.landing {
    display: flex;
}

.logobox {
    background: var(--white);
    width: 20%;
    height: 90vh;
}

.logobox .begivenhed {
    padding-top: 10%;
}

.logobox .begivenhed h3 {
    font-size: 2rem;
}

.logobox section.begivenhed h3, .logobox section.begivenhed h4 {
    padding-left: 30px;
}


.logobox .naeste {
    padding-top: 5%;
}

.logobox .naeste h3 {
    font-size: 1.4rem;
    padding-top: 10px;
}

.logobox .naeste {
    padding-left: 30px;
}

.logobox .naeste h3:nth-child(5) {
    padding-bottom: 20px
}

.logobox .naeste a {
    text-decoration: none;
    background: var(--primary-color);
    color: var(--white);
    padding: 5px 10px;
    font-size: 1.8rem;
    font-family: var(--headline);
    width: 70%;
}

.logobox .naeste a:visited {
    color: var(--white);
}

.landing main {
    width: 100%;
    height: 90vh;
}

.landing main .overskrift {
    height: 65vh;
    overflow: hidden;
    display: flex;
    background-image: url(/img/forside-billede.webp);
    object-fit: cover;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.landing main .overskrift h2 {
    color: var(--secondary-color);
    font-family: var(--headline);
    z-index: 2;
    font-size: 28vh;
    line-height: 80%;
    padding-left: 3%;
}

.landing main .intro {
    height: 25vh;
    display: flex;
    background-color: var(--black);
    padding-left: 3%;
    padding-top: 2%;
    flex-direction: column;
    justify-content: space-between;
}
.landing main .intro h1 {
    color: var(--white);
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 2rem;
}

.button {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--headline);
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3 {
    height: 10vh;
    text-align: center;
}


/* LANDING PAGE SLUT */


/* MISTER START */


.square {
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent; 
    border-right: 100px solid transparent; 
    border-top: 100px solid var(--white);
    position: absolute;
}

.mister {
    background: var(--black);
    height: 90vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.mister section {
    padding: 10% 50px 0 50px;
    width: 50%;
}

.mister section h3 {
    color: var(--white);
    font-family: var(--headline);
    line-height: 100%;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.citat {
    width: 60vh;
}

.citation {
    width: 30px;
}

.citation:nth-child(3) {
    float: right;
}

.mister section h4 {
    color: var(--white);
    font-family: var(--font);
    font-size: 2.5rem;
    text-transform: uppercase;
}

.mister section article {
    padding-bottom: 20px;
}

.highlight {
    color: var(--primary-color);
    font-size: 5rem;
    font-family: var(--headline);
}

.h3-black {
    background-color: var(--black);
    color: var(--white);
}


/* MISTER SLUTTER */



/* LOSNING STARTER */


.black {
    border-top: 100px solid var(--black);
}

.padding {
    padding-top: 10%;
}


.losning {
    background: var(--primary-color);
    height: 90vh;
    display: flex;
    justify-content: center;
}

.losning .mulighed {
    display: flex;
    margin: 0 20px 20px 0;
    height: 35vh;
    background: var(--white);
    overflow: hidden;
}

.margin {
    margin: 25px;
}

.mulighed h3 {
    font-size: 2rem;
} 

.venstre {
    flex: 1;
    max-width: 40%;
    overflow: hidden;
}
   
.venstre img {
    height: 100%;
    object-fit: cover;
}

.hojre {
    flex: 2;
    max-width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hojre h3 {
    font-size: 2.4rem;
    line-height: 100%;
    padding-bottom: 2%;
}

.hojre p {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-bottom: 2%;
}

.hojre .button {
    width: auto;
    text-decoration: none;
    display: flex;
}


.two {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.one {
    display: flex;
    width: 25%;
}

.column {
    flex-direction: column;
    width: 100%;
    display: flex;
    height: 70vh;
    background: var(--white);
    overflow: hidden;
}

.op {
    flex: 1;
    max-height: 60%;
    overflow: hidden;
}
   
.op img {
    height: 100%;
    object-fit: cover;
}

.ned {
    flex: 2;
    max-height: 40%;
    padding: 20px;
}

.ned h3 {
    font-size: 2.4rem;
    line-height: 100%;
    padding-bottom: 2%;
}

.ned p {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-bottom: 2%;
}

.ned .button {
    width: auto;
    text-decoration: none;
}

.h3-red {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* LOSNING SLUTTER */


/* INSTA STARTER */


.red {
    border-top: 100px solid var(--primary-color);
}

.insta {
    background: var(--white);
    height: 140vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.feed {
    justify-content: flex-start;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.post {
    width: auto;
    height: 60vh;
    padding: 20vh 10px 0 10px ;
    opacity: 30%;
    scale: 0.9;
    transition: 0.2s;
}

.post iframe {
    width: 30vh;
}

.post:hover {
    opacity: 100%;
    scale: 1;
}

.insta .citat {
    width: auto;
}

.insta .citat h3 {
    line-height: 100%;
}


/* INSTA SLUTTER */


/* FOOTER STARTER */


footer {
    background: var(--black);
    display: flex;
}

.nyhedsbrev {
    width: 40%;
    background-color: var(--primary-color);
}
  
form {
    padding: 2% 10% 10% 10%;
    color: var(--white);
}
  
.container {
    padding: 10px;
}

.container h2 {
    font-family: var(--headline);
    font-size: 4rem;
}

.container p {
    font-size: 1.5rem;
}
  
.container input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--white);
    box-sizing: border-box;
    background: rgba(0,0,0,0.0);
}
  
input[type=checkbox] {
    margin-top: 16px;
}
  
input[type=submit] {
    background: rgba(0,0,0,0.0);
    border: 1px solid var(--white);
    color: white;
    width: 40%;
}
  
input[type=submit]:hover {
    background-color: var(--secondary-color);
    color: var(--black);
    border: none;
}

::placeholder {
    color: var(--white);
    opacity: 1;
  }











/* For larger mobile devices (landscape) */
@media only screen and (max-width: 1068px) {

    
    .logobox {
        display: none;
    }

}


/* For larger mobile devices (landscape) */
@media only screen and (max-width: 767px) {

    
    .logobox {
        display: none;
    }

}



/* For small mobile devices (portrait) */
@media only screen and (max-width: 480px) {

    .logobox {
        display: none;
    }
}