@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('/font/Helvetica.woff') format('woff');
}
    
@font-face {
        font-family: 'Helvetica Compressed';
        font-style: normal;
        font-weight: normal;
        src: local('Helvetica Compressed'), url('/font/helvetica-compressed-5871d14b6903a.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #284221;
    --secondary-color: #dd5211;
    --black: #0c1309;
    --white:#f2f2f2;
    --font: "Helvetica";
    --headline: "Helvetica Compressed";
}

body {
    background-color: var(--white);
    font-family: var(--font);
}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

h3 {
    font-family: var(--headline);
    font-size: 2.8rem;
    text-transform: uppercase;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 25px;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    color: var(--white);
    font-family: var(--headline);
    position: fixed;
    z-index: 1000;
}

header a {
    width: 20%;
    display: flex;
    justify-content: center;
}

body img {
    width: 100%;
}


/* NAVBAR */

header nav .logo {
    width: 60vh;
    margin: 20px;
    display: none;
}

header nav .logo {
    fill: var(--white);
}


header .navbar ul {
    list-style-type: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0 0 20px 20px;
    display: block;
    color: var(--black);
    width: 100%;
}

header .navbar ul li a:visited {
   color: inherit;
   text-decoration: none;
}

header .navbar ul li a:hover {
    color: var(--primary-color);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: var(--primary-color);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul ,
header .nvabar ul li:hover > ul {
    display: block;
}

.navbar li:hover ul ul {
    display: none;
}
  
.navbar li:hover ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

header .navbar ul li ul li a {
    font-weight: 200;
    font-size: 1.3rem;
    padding-left: 40px;
}

header label {
        display: block;
        position: absolute;
        z-index: 1000;
        right: 30px;
        top: 30px;
}

header .navbar {
        position: absolute;
        top: 0;
        right: 0;
        padding: 120px 0 240px 0;
        width: 300px;
        background: var(--secondary-color);
        display: none;
        color: var(--black);
        font-family: var(--headline);
        height: auto;
        border-radius: 0 0 0 1000px;
        overflow: hidden;
}

header .navbar ul li {
        width:100%;
}

header .navbar ul li ul {
        position: relative;
        width: 100%;
        color: black;
}

header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
}

#menu-bar:checked ~ .navbar {
        display: block;
        transition: 0.2s;
}

#menu-bar:not(:checked) ~ .navbar {
        display: block;
        top: -350px;
        transition: 0.6s;     
}

.menubillede {
        width: 60px;
        background: var(--primary-color);
}


/* NAVBAR SLUT */



/* LANDING PAGE */

.logo {
    width: 50%;
    height: auto;
    display: flex;
    padding: 50px 0;
}

.logo-two {
    width: 20%;
    height: auto;
    display: flex;
    display: none;
    margin: 20px 0 0 20px;
    position: absolute;
    fill: var(--white);
}

.logobox a {
    display: flex;
    justify-content: center;
}

.landing {
    display: flex;
    padding-bottom: 10vh;
}

.logobox {
    background: var(--white);
    width: 20%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.logobox .begivenhed {
    padding: 10% 0 0 30px;
}

.logobox .begivenhed h3 {
    font-size: 1.6rem;
}

.logobox .naeste {
    padding: 5% 0 0 30px;
}

.logobox .naeste h3 {
    font-size: 1.4rem;
    padding-top: 10px;
}

.logobox .naeste h3:nth-child(5) {
    padding-bottom: 20px
}

.logobox .naeste a {
    text-decoration: none;
    background: var(--primary-color);
    color: var(--white);
    padding: 5px 10px;
    font-size: 1.5rem;
    font-family: var(--headline);
    width: 90%;
}

.logobox .naeste a:visited {
    color: var(--white);
}

.landing .main {
    width: 100%;
    height: 100vh;
}

.overskrift {
    height: 70vh;
    overflow: hidden;
    display: flex;
    background-image: url(/img/forside-billede-logo.webp);
    background-blend-mode: multiply;
    background-color: var(--primary-color);
    background-repeat:no-repeat;
    background-size: auto 100vh;
    background-position: right;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.overskrift h2 {
    color: var(--secondary-color);
    font-family: var(--headline);
    z-index: 2;
    line-height: 80%;
    padding-left: 3%;
    letter-spacing: 1vh;
    text-wrap: balance;
    font-size: 30vh;
}

.overskrift h2:nth-child(1) {
    color: var(--white);
}

.landing .main .intro {
    height: 30vh;
    display: flex;
    background-color: var(--black);
    padding-left: 3%;
    flex-direction: column;
    justify-content: space-evenly;
}

.landing .main .intro h1 {
    color: var(--white);
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 2rem;
}

.naeste p {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;
}

.button {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--headline);
    width: 500px;
    padding: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.button:visited {
    color: var(--white);
}

.h3 {
    height: 10vh;
    text-align: center;
}

.absolute {
    position: absolute;
    letter-spacing: 0.5vh;
}


/* LANDING PAGE SLUT */


/* MISTER START */


.square {
    width: 80%;
    height: 0; 
    border-left: 100px solid transparent; 
    border-right: 100px solid transparent; 
    border-top: 100px solid var(--white);
    position: absolute;
}

.mister {
    background: var(--black);
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.mister section {
    padding: 10% 50px 0 50px;
    width: 50%;
}

.gallery {
    display: flex;
    justify-content: center;
}

.gallery img {
    width: auto;
    height: 80%;
}

.mister section h3 {
    color: var(--white);
    font-family: var(--headline);
    line-height: 100%;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.citat {
    width: 60vh;
}

.citation {
    width: 30px;
}

.citat svg {
    fill: var(--secondary-color);
}

.citation:nth-child(3) {
    float: right;
    padding-top: 10px;
}

.mister section h4 {
    color: var(--white);
    font-family: var(--font);
    font-size: 2.5rem;
    text-transform: uppercase;
}

.mister section article {
    padding-bottom: 20px;
}

.highlight {
    color: var(--secondary-color);
    font-size: 5rem;
    font-family: var(--headline);
}

.h3-black {
    background-color: var(--black);
    color: var(--white);
}


/* MISTER SLUTTER */



/* LOSNING STARTER */


.black {
    border-top: 100px solid var(--black);
}

.absolute-white {
    color: var(--white);
}

.padding {
    padding-top: 10%;
}

.losning {
    background: var(--primary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.losning .mulighed {
    display: flex;
    height: 50%;
    background: var(--white);
    overflow: hidden;
    margin-right: 20px;
}

.margin {
    margin: 25px;
}

.mulighed h3 {
    font-size: 2rem;
} 

.venstre {
    flex: 1;
    max-width: 40%;
    overflow: hidden;
}
   
.venstre img {
    height: 100%;
    object-fit: cover;
}

.hojre {
    flex: 2;
    max-width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hojre h3 {
    font-size: 2.4rem;
    line-height: 100%;
    padding-bottom: 2%;
}

.hojre p {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-bottom: 2%;
}

.hojre .button {
    width: auto;
    text-decoration: none;
    display: flex;
}

.two {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.one {
    display: flex;
    width: 25%;
}

.three {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
}

.column {
    flex-direction: column;
    width: 100%;
    display: flex;
    height: 100%;
    background: var(--white);
    overflow: hidden;
}

.op {
    flex: 1;
    max-height: 50%;
    overflow: hidden;
}
   
.op img {
    height: 100%;
    object-fit: cover;
}

.ned {
    flex: 2;
    max-height: 40%;
    padding: 20px;
}

.ned h3 {
    font-size: 2.4rem;
    line-height: 100%;
    padding-bottom: 2%;
}

.ned p {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-bottom: 2%;
}

.ned .button {
    width: auto;
    text-decoration: none;
}

.h3-red {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* LOSNING SLUTTER */


/* INSTA STARTER */


.red {
    border-top: 100px solid var(--primary-color);
}

.absolute-secondary {
    color: var(--secondary-color)
}

.insta {
    background: var(--white);
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feed {
    justify-content: flex-start;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 80%;
}

.insta .feed {
    height: auto;
    padding-bottom: 25%;
}

.post {
    width: auto;
    height: 60vh;
    padding: 20vh 10px 0 10px ;
    opacity: 30%;
    transform: scale(0.9);
    transition: 0.2s;
}

.post iframe {
    width: 30vh;
}

.post:hover {
    opacity: 100%;
    transform: scale(1);
}

.insta .citat {
    width: auto;
    margin-bottom: 3%;
}

.insta .citat h3 {
    line-height: 100%;
}


/* INSTA SLUTTER */


/* FOOTER STARTER */


footer {
    background: var(--black);
    display: flex;
}

.nyhedsbrev {
    width: 40%;
    background-color: var(--primary-color);
    padding: 20px 80px 50px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nyhedsbrev p {
    color: var(--white);
    font-size: 0.8rem;
}
  
form {
    color: var(--white);
}
  
.container {
    padding-bottom: 10px;
}

.container h2 {
    font-family: var(--headline);
    font-size: 4rem;
    vertical-align: top;
    color: var(--secondary-color);
}

.container p {
    font-size: 1.5rem;
}
  
.container input {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border: 1px solid var(--white);
    box-sizing: border-box;
    background: rgba(0,0,0,0.0);
}
  
input[type=submit] {
    background: rgba(0,0,0,0.0);
    border: 1px solid var(--white);
    color: white;
    width: 40%;
}
  
input[type=submit]:hover {
    background-color: var(--secondary-color);
    color: var(--black);
    border: none;
}

::placeholder {
    color: var(--white);
    opacity: 1;
  }

  input, select, textarea{
    color: var(--white)
}

.footer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.some {
    padding: 40px 80px 0 80px;
}

.some img {
    width: auto;
    height: 70px;
    margin-right: 10px;
}

.kontakt {
    padding: 40px 80px 50px 80px;
    color: white;
}

.sted {
    width: 100%;
}

.sted iframe {
  width: 100%;  
  height: 40vh;
  border: none;
}









/* For larger mobile devices (landscape) */
@media only screen and (max-width: 1068px) {

    
    .logobox {
        display: none;
    }

}


/* For larger mobile devices (landscape) */
@media only screen and (max-width: 767px) {

    .logo-two {
        display: block;
        color: white;
    }

    .logobox {
        display: none;
    }

    .landing {
        height: 100vh;
    }

    header nav .logo {
        display: block;
    }

    .overskrift {
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        padding-bottom: 10%;
    }
    
    .overskrift h2 {
        font-size: calc(10vh + 10vh);
    }

    .landing .main .intro h1 {
        font-size: 1.3rem;
    }

    .landing .main .intro {
        justify-content: center;
        padding: 0 5vh;
        align-items: center;
    }

    .landing .main .intro .button {
        width:100%;
        font-size: 2.5rem;
        margin-top: 20px;
    }



    .mister {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
        padding: 10% 0;
    }

    .mister section img {
        width: 90%;
    }
    
    .mister section {
        width: 100%;
    }

    .mister section article {
        width: 100%;
    }

    .mister section h3 {
        font-size: 1.8rem;
    }

    .mister .square {
        display: none;
    }

    .absolute {
        position: relative;
        color: var(--white);
        font-size: 2rem;
    }





    .losning {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: auto;
        padding: 10% 0;
    }

    .losning .mulighed {
        margin: 20px;
    }

    .losning .square {
        display: none;
    }

    .three {
        width: 100%;
        display: block;
    }

    .mulighed article h3 {
        font-size: 2rem;
    }

    .mulighed article p {
        font-size: 1.5rem;
    }

    .mulighed article a {
        font-size: 2rem;
    }

    .two {
        display: none;
    }

    .one {
        display: none;
    }





    .insta {
        padding: 10% 0;
    }

    .insta .square {
        display: none;
    }

    .insta .absolute-secondary {
        color: var(--black);
    }

    .insta .feed .post {
        padding: 0;
    }

    .insta .feed {
        height: auto;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }

    .insta .citat h3 {
        font-size: 2rem;
    }





    footer {
        flex-direction: column;
        justify-content: center;
    }

    .nyhedsbrev {
        width: 100%;
    }

    .some {
        display: flex;
    }

    .footer {
        width: 100%;
    }


    .absolute {
        font-size: 3rem;
        padding-top: 20px;
        text-align: center;
        line-height: 100%;
    }

}



/* For small mobile devices (portrait) */
@media(max-width:480px) {

    header .navbar {
        padding: 120px 0 180px 0;
        width: 200px;
    }

    .logo-two {
        display: block;
        color: white;
    }

    .logobox {
        display: none;
    }

    header nav .logo {
        display: block;
    }

    .overskrift {
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        padding-bottom: 10%;
    }
    
    .overskrift h2 {
        font-size: calc(10vh + 10vh);
    }

    .landing .main .intro h1 {
        font-size: 1.3rem;
    }

    .landing .main .intro {
        justify-content: center;
        padding: 0 5vh;
        align-items: center;
    }

    .landing .main .intro .button {
        width:100%;
        font-size: 2.5rem;
        margin-top: 20px;
    }



    .mister {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
        padding: 10% 0;
    }

    .mister section img {
        width: 90%;
    }
    
    .mister section {
        width: 100%;
    }

    .mister section article {
        width: 100%;
    }

    .mister section h3 {
        font-size: 1.8rem;
    }

    .mister .square {
        display: none;
    }

    .absolute {
        position: relative;
        color: var(--white);
        font-size: 2rem;
    }





    .losning {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: auto;
        padding: 10% 0;
    }

    .losning .mulighed {
        margin: 20px;
    }

    .losning .square {
        display: none;
    }

    .three {
        width: 100%;
        display: block;
    }

    .mulighed article h3 {
        font-size: 2rem;
    }

    .mulighed article p {
        font-size: 1.5rem;
    }

    .mulighed article a {
        font-size: 2rem;
    }

    .two {
        display: none;
    }

    .one {
        display: none;
    }





    .insta {
        padding: 10% 0;
    }

    .insta .square {
        display: none;
    }

    .insta .absolute-secondary {
        color: var(--black);
    }

    .insta .feed .post {
        padding: 0;
    }

    .insta .feed {
        height: auto;
        padding-bottom: 5%;
        margin-bottom: 5%;
    }

    .insta .citat h3 {
        font-size: 2rem;
    }





    footer {
        flex-direction: column;
        justify-content: center;
    }

    .nyhedsbrev {
        width: 100%;
    }

    .some {
        display: flex;
    }

    .footer {
        width: 100%;
    }

    .absolute {
        font-size: 3rem;
        padding-top: 20px;
        text-align: center;
        line-height: 100%;
    }

}