@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Staatliches&display=swap);

.logo, header, header a {
    display: flex
}

.logobox .naeste a, .menubillede, header .navbar ul li ul {
    background: var(--primary-color)
}

.absolute, .logo-two, .overskrift img, .square, header .navbar, header label {
    position: absolute
}

.logobox, .mister, .naeste p, .overskrift, header .navbar {
    overflow: hidden
}

.button, .hojre p, .landing .main .intro h1, .mister section h3, .mister section h4, .ned p, h3, header .navbar ul li a {
    text-transform: uppercase
}

.hojre .button, .logobox .naeste a, .ned .button, a, header .navbar ul li a {
    text-decoration: none
}

.feed, .naeste p {
    white-space: nowrap
}

*, .container input {
    box-sizing: border-box
}

@font-face {
    font-family: Staatliches;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('your-font.woff2') format('woff2')
}

* {
    margin: 0;
    padding: 0
}

:root {
    --primary-color: #284221;
    --secondary-color: #dd5211;
    --black: #0c1309;
    --white: #f2f2f2;
    --font: "Open Sans", sans-serif;
    --headline: "Staatliches", sans-serif
}

body {
    background-color: var(--white);
    font-family: var(--font)
}

.button, .container h2, .highlight, .logobox .naeste a, .mister section h3, .overskrift h2, h3, header, header .navbar {
    font-family: var(--headline)
}

a:visited {
    color: inherit
}

.absolute-white, .button, .logobox .naeste a, .logobox .naeste a:visited, .mister section h3, .mister section h4, .overskrift h2:first-child, a.button:visited, form, header, header .navbar, header .navbar ul li a, header .navbar ul li ul, input, select, textarea {
    color: var(--white)
}

h3 {
    font-size: 2.8rem
}

header {
    align-items: center;
    flex-direction: column-reverse;
    gap: 25px;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    position: fixed;
    z-index: 1000
}

header a {
    width: 20%;
    justify-content: center
}

.sted, body img, header .navbar ul li ul li {
    width: 100%
}

header nav .logo {
    width: 60vh;
    margin: 20px;
    display: none;
    fill: var(--white)
}

header .navbar ul {
    list-style-type: none
}

header .navbar ul li {
    position: relative;
    float: left;
    width: 100%
}

header .navbar ul li a {
    font-size: 1.5rem;
    padding: 0 0 20px 20px;
    display: block;
    width: 100%
}

header .navbar ul li a:visited {
    color: inherit;
    text-decoration: none
}

header .navbar ul li a:hover {
    color: var(--primary-color)
}

header .navbar ul li ul {
    left: 0;
    display: none;
    position: relative;
    width: 100%
}

header .navbar ul li ul li ul {
    top: 0;
    width: 100%;
    left: 0
}

header .navbar ul li:focus-within>ul, header .nvabar ul li:hover>ul {
    display: block
}

#menu-bar, .navbar li:hover ul ul {
    display: none
}

.navbar li:hover ul {
    display: block
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: block;
    z-index: 1000;
    right: 30px;
    top: 30px
}

header .navbar ul li ul li a {
    font-weight: 200;
    font-size: 1.3rem;
    padding-left: 40px
}

header .navbar {
    top: 0;
    right: 0;
    padding: 120px 0 240px;
    width: 300px;
    background: var(--secondary-color);
    display: none;
    height: auto;
    border-radius: 0 0 0 1000px
}

#menu-bar:checked~.navbar {
    display: block;
    transition: .2s
}

#menu-bar:not(:checked)~.navbar {
    display: block;
    top: -350px;
    transition: .6s
}

.menubillede {
    width: 60px
}

.logo {
    width: 50%;
    height: auto;
    padding: 50px 0
}

.logo-two {
    width: 20%;
    height: auto;
    display: none;
    margin: 20px 0 0 20px;
    fill: var(--white)
}

.gallery, .logobox a {
    display: flex;
    justify-content: center
}

.landing {
    display: flex;
    padding-bottom: 10vh
}

.logobox {
    background: var(--white);
    width: 20%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.overskrift, .overskrift img {
    height: 70vh;
    background-color: var(--primary-color)
}

.logobox .begivenhed {
    padding: 10% 0 0 30px
}

.logobox .begivenhed h3 {
    font-size: 1.6rem
}

.logobox .naeste {
    padding: 5% 0 0 30px
}

.logobox .naeste h3 {
    font-size: 1.4rem;
    padding-top: 10px
}

.logobox .naeste h3:nth-child(5), .mister section article {
    padding-bottom: 20px
}

.logobox .naeste a {
    padding: 5px 10px;
    font-size: 1.5rem;
    width: 90%
}

.landing .main {
    width: 100%;
    height: 100vh
}

.overskrift {
    display: flex;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: right;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center
}

.overskrift img {
    object-fit: cover;
    mix-blend-mode: multiply
}

.container input, input[type=submit] {
    background: rgba(0, 0, 0, 0);
    border: 1px solid var(--white)
}

.overskrift h2 {
    color: var(--secondary-color);
    z-index: 2;
    line-height: 80%;
    padding-left: 3%;
    text-wrap: balance;
    font-size: 40vh
}

.landing .main .intro {
    height: 30vh;
    display: flex;
    background-color: var(--black);
    padding-left: 3%;
    flex-direction: column;
    justify-content: space-evenly
}

.button, .mister {
    justify-content: center
}

.landing .main .intro h1 {
    color: var(--white);
    font-family: var(--font);
    font-size: 2rem
}

.naeste p {
    text-overflow: ellipsis
}

.button {
    background-color: var(--primary-color);
    font-size: 3rem;
    width: 500px;
    padding: 1% 0;
    display: flex;
    align-items: center
}

.mister, footer {
    background: var(--black)
}

.h3 {
    height: 10vh;
    text-align: center
}

.square {
    width: 80%;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid var(--white)
}

.losning, .mister {
    height: 100vh;
    display: flex
}

.mister section {
    padding: 10% 50px 0;
    width: 50%
}

.gallery img {
    width: auto;
    height: 80%
}

.mister section h3 {
    line-height: 100%;
    font-size: 2.4rem
}

.citat {
    width: 60vh
}

.citation {
    width: 30px
}

.citat svg {
    fill: var(--secondary-color)
}

.citation:nth-child(3) {
    float: right;
    padding-top: 10px
}

.mister section h4 {
    font-family: var(--font);
    font-size: 2.5rem
}

.highlight {
    color: var(--secondary-color);
    font-size: 5rem
}

.h3-black {
    background-color: var(--black);
    color: var(--white)
}

.absolute-secondary, .h3-red {
    color: var(--secondary-color)
}

.black {
    border-top: 100px solid var(--black)
}

.padding {
    padding-top: 10%
}

.losning {
    background: var(--primary-color);
    justify-content: center;
    padding-bottom: 5%
}

.column, .losning .mulighed {
    background: var(--white);
    overflow: hidden
}

.hojre, .ned {
    padding: 20px
}

.losning .mulighed {
    display: flex;
    height: 50%;
    margin-right: 20px
}

.margin {
    margin: 25px
}

.mulighed h3 {
    font-size: 2rem
}

.venstre {
    flex: 1;
    max-width: 40%;
    overflow: hidden
}

.op img, .venstre img {
    height: 100%;
    object-fit: cover
}

.hojre {
    flex: 2;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.three, .two {
    flex-direction: column
}

.hojre h3, .ned h3 {
    font-size: 2.4rem;
    line-height: 100%;
    padding-bottom: 2%
}

.hojre p, .ned p {
    font-size: 1.6rem;
    padding-bottom: 2%
}

.hojre .button {
    width: auto;
    display: flex
}

.two {
    display: flex;
    width: 50%;
    gap: 20px
}

.one {
    display: flex;
    width: 25%
}

.three {
    width: 100%;
    display: none
}

.column, .nyhedsbrev {
    flex-direction: column
}

.column, .feed, .footer, .insta, .nyhedsbrev, footer {
    display: flex
}

.column {
    width: 100%;
    height: 100%
}

.op {
    flex: 1;
    max-height: 50%;
    overflow: hidden
}

.ned {
    flex: 2;
    max-height: 40%
}

.ned .button {
    width: auto
}

.h3-red {
    background-color: var(--primary-color)
}

.red {
    border-top: 100px solid var(--primary-color)
}

.insta {
    background: var(--white);
    height: auto;
    justify-content: center;
    flex-wrap: wrap
}

.feed {
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 80%
}

.insta .feed {
    height: auto;
    padding-bottom: 25%
}

.post {
    width: auto;
    height: 60vh;
    padding: 20vh 10px 0;
    opacity: 30%;
    transform: scale(.9);
    transition: .2s
}

.post iframe {
    width: 30vh
}

.post:hover {
    opacity: 100%;
    transform: scale(1)
}

.insta .citat {
    width: auto;
    margin-bottom: 3%
}

.insta .citat h3 {
    line-height: 100%
}

.nyhedsbrev {
    width: 40%;
    background-color: var(--primary-color);
    padding: 20px 80px 50px;
    justify-content: space-between
}

.nyhedsbrev p {
    color: var(--white);
    font-size: .8rem
}

.container {
    padding-bottom: 10px
}

.container h2 {
    font-size: 4rem;
    vertical-align: top;
    color: var(--secondary-color)
}

.container p {
    font-size: 1.5rem
}

.container input {
    width: 100%;
    padding: 12px;
    display: inline-block
}

input[type=submit] {
    color: #fff;
    width: 40%
}

input[type=submit]:hover {
    background-color: var(--secondary-color);
    color: var(--black);
    border: none
}

::placeholder {
    color: var(--white);
    opacity: 1
}

.footer {
    flex-direction: column;
    width: 60%
}

.some {
    padding: 40px 80px 0
}

.some img {
    width: auto;
    height: 70px;
    margin-right: 10px
}

.kontakt {
    padding: 40px 80px 50px;
    color: #fff
}

.sted iframe {
    width: 100%;
    height: 40vh;
    border: none
}

@media only screen and (max-width:1068px) {
    .logobox {
        display: none
    }
}

@media only screen and (max-width:767px) {
    .logo-two, header nav .logo {
        display: block
    }

    .footer, .losning, .mister section, .mister section article, .nyhedsbrev, .overskrift img, .three {
        width: 100%
    }

    .logo-two {
        color: #fff
    }

    .insta .square, .logobox, .losning .square, .mister .square, .one, .two {
        display: none
    }

    .landing {
        height: 100vh
    }

    .overskrift {
        justify-content: flex-end;
        align-items: center;
        overflow: hidden
    }

    .overskrift h2 {
        font-size: calc(10vh + 10vh)
    }

    .overskrift h2:nth-child(2) {
        padding-bottom: 10%
    }

    .landing .main .intro h1 {
        font-size: 1.3rem
    }

    .landing .main .intro {
        justify-content: center;
        padding: 0 5vh;
        align-items: center
    }

    .losning, .mister {
        flex-direction: column;
        padding: 10% 0;
        height: auto
    }

    .landing .main .intro .button {
        width: 100%;
        font-size: 2.5rem;
        margin-top: 20px
    }

    .mister {
        align-items: center;
        justify-content: space-around
    }

    .mister section img {
        width: 90%
    }

    .mister section h3 {
        font-size: 1.8rem
    }

    .losning {
        display: flex;
        align-items: center
    }

    .losning .mulighed {
        margin: 20px
    }

    .three {
        display: block
    }

    .insta .citat h3, .mulighed article a, .mulighed article h3 {
        font-size: 2rem
    }

    .mulighed article p {
        font-size: 1.5rem
    }

    .insta {
        padding: 10% 0
    }

    .insta .absolute-secondary {
        color: var(--black)
    }

    .insta .feed .post {
        padding: 0
    }

    .insta .feed {
        height: auto;
        padding-bottom: 5%;
        margin-bottom: 5%
    }

    footer {
        flex-direction: column;
        justify-content: center
    }

    .some {
        display: flex
    }

    .absolute {
        position: relative;
        color: var(--white);
        font-size: 3rem;
        padding-top: 20px;
        text-align: center;
        line-height: 100%
    }
}

@media(max-width:480px) {
    .logo-two, header nav .logo {
        display: block
    }

    header .navbar {
        padding: 120px 0 180px;
        width: 200px
    }

    .footer, .losning, .mister section, .mister section article, .nyhedsbrev, .overskrift img, .three {
        width: 100%
    }

    .logo-two {
        color: #fff
    }

    .insta .square, .logobox, .losning .square, .mister .square, .one, .two {
        display: none
    }

    .overskrift {
        justify-content: flex-end;
        align-items: center;
        overflow: hidden
    }

    .overskrift h2 {
        font-size: calc(8vh + 8vh)
    }

    .overskrift h2:nth-child(2) {
        padding-bottom: 10%
    }

    .landing .main .intro h1 {
        font-size: 1.3rem
    }

    .landing .main .intro {
        justify-content: center;
        padding: 0 5vh;
        align-items: center
    }

    .losning, .mister {
        flex-direction: column;
        padding: 10% 0;
        height: auto
    }

    .landing .main .intro .button {
        width: 100%;
        font-size: 2.5rem;
        margin-top: 20px
    }

    .mister {
        align-items: center;
        justify-content: space-around
    }

    .mister section img {
        width: 90%
    }

    .mister section h3 {
        font-size: 1.8rem
    }

    .losning {
        display: flex;
        align-items: center
    }

    .losning .mulighed {
        margin: 20px
    }

    .three {
        display: block
    }

    .insta .citat h3, .mulighed article a, .mulighed article h3 {
        font-size: 2rem
    }

    .mulighed article p {
        font-size: 1.5rem
    }

    .insta {
        padding: 10% 0
    }

    .insta .absolute-secondary {
        color: var(--black)
    }

    .insta .feed .post {
        padding: 0
    }

    .insta .feed {
        height: auto;
        padding-bottom: 5%;
        margin-bottom: 5%
    }

    footer {
        flex-direction: column;
        justify-content: center
    }

    .some {
        display: flex
    }

    .absolute {
        position: relative;
        color: var(--white);
        font-size: 3rem;
        padding-top: 20px;
        text-align: center;
        line-height: 100%
    }
}